body {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    line-height: 150%;
 
}

/*html {
    margin: 0;
    padding: 0;
}*/



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/

/* QR code generator */
/*#qrCode {
    margin: 15px;
}*/

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {

    .carousel-caption {
        display: none;
    }
}*/


/*Header CSS*/

.headerTop {
    height: auto;
    margin-top: 0px;
}

.headerMainText, .headerSubText {
    color: black;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}

.headerMainText {
    font-size: 35px;
}

.headerSubText {
    font-size: 25px;
}

.headerInfo {
    color: black;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 85%;
    margin-top: 10px;
}

#paymentText {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    line-height: 100%;
}

.navbar-inverse {
    background-color: #60221f;
    color: white;
}

navbar nav {
    color: white;
}

#overrideTitle {
    color: white;
}

#overrideNav li a {
    color: white;
}

.headerContact {
    font-family: Calibri;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
 }

.headerPhone {
    font-size: 20px;
    font-weight: 900;
    color: #990000;
}

/*@media screen and (max-width: 700px) {
    .headerContact {
        display: none;
    }

    .headerSubText {
        display: none;
    }

    .headerPhone {
        display: none;
    }
}*/

@media only screen and (max-width: 990px) {
    #textHide {
        display: none;
    }

    .headerPhone {
        display: none;
    }
}

@media screen and (max-width: 700px) {
     #addressText1 {
        display: none;
    }

     #addressText2 {
         display: none;
     }

     #mobileText {
         font-size: 15px;
     }

     .headerMainText {
         font-size: 20px;
     }
}

#headPhone {
    color: black;
    text-decoration: none;
}

.headerText {
    margin-top: 10px;
}

/*Site wide*/ 

.pageHeading {
    font-size: 30px;
    font-weight: 600;
    font-family: Calibri sans-serif;

}

.sectionTitle {
    font-size: 20px;
    font-family: Calibri;
}

.polaroidText {
    font-family: 'Segoe Script' 'Arial Rounded MT' sans-serif;
    font-weight: 900;
}

.polaroidalt {
    box-shadow: 0 0 5px #aaaaaa;
}

element.style {
    width: unset;
}

/*Index page CSS*/

h1{
    font-weight: 600;
    font-size: 18px;
}

.linkStyle {
    color: black;
}

p a:hover {
    text-decoration: underline;
    color: black;
}
.centerTitle {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    font-family: Corbel;
  
}

.welcomeText {
    text-align: justify;
    font-weight: 400;
  
}

.infoItems {
    text-align: justify;
    padding: 30px;
    box-shadow: 0 0 10px #888888;
    margin-top: 35px;
}



#b_style {
    background: #60221f;
    border-color: #60221f;

}

#b_style:visited {
    background: #60221f;
    border-color: #60221f;
}

#b_style:hover {
    background: #660000;
    border-color: #660000;
}


#b_style:active {
    background: #60221f;
    border-color: #60221f;
 }

.quote {
    font-weight: 700;
    font-style: italic;
}

.laserTherapyText {
    text-align: justify;
}

/*About page*/

.aboutText {
    padding-right: 20px;
}

.auImage {
    margin-top: 25px;
}

.bbbLogo {
    margin-top: 15px;
    margin-bottom: 20px;
}

#vetSourceText {
    
    margin-bottom: 15px;
}

#aboutContact {
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
}

.aboutText {
    text-align: justify;
}

/*Pet Services CSS*/

.psImage {
    margin-top: 25px;
}


/*Vets.cshtml CSS*/

.sectionLeadIn {
    font-weight: 500;
    font-size: 18px;
}

.vetInfo {
    text-align: justify;
}

.drBays {
    margin-top: 30px;
}

/*Laser Therapy Page*/

.pageHeading {
    padding-bottom: 20px;
}

.laserImage {
    margin-top: 35px;
}

.laserTherapyText {
    padding-right: 50px;
}

.laserLinks {
    padding-top: 30px;
}

/*New Clients page*/

.newClient {
    margin-bottom: 20px;
 
    padding-right: 25px;
}

.ncImage {
    padding-top: 25px;
}




/*Staff Page*/
.staffHeading {
    font-size: 22px;
}

.staffListing {
    text-align: justify;
}

div.polaroid {
    width: 80%;
    height: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.polaroidText {
    text-align: center;
    padding: 10px 20px;
}

.staffPhoto {
    margin-top: 30px;
}

.spImage {
    padding-top: 25px;
}




/*Footer CSS*/

.footerElement {
  
    border-top-style: ridge;
    border-top-width: 10px;
    border-top-color: #60221f;
    color: black;
    margin-right: -50px;
    margin-top: 50px;
     
}

#footerPayText {
    font-size: 14px;
    font-weight: 400;

}

.phoneText {
    font-size: 14px;
    font-weight: 800;
    color: #660000;
}

#footPhone {
    color: #660000;
}

@media screen and (min-width: 991px) {
    #footerPayText {
        display: none;
    }
}

.business-hours .office-hours li.today {
    color: black;
    font-weight: 600;
    

}

.business-hours li {
    margin-right: 10px;
}

#gmText {
    color: black;
    text-decoration: none;
}

#fbText {
    color: black;
    text-decoration: none;
}



/*media styles (additional media style defined in "heading")*/

@media only screen and (max-width: 991px) {
    .headerMainText {
        font-size: 20px;
    }

    .headerSubText {
        font-size: 15px;
    }

    .headerInfo {
        font-size: 10px;
    }

    .headerInfo {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .headerSubText {
        font-size: 20px;
    }

    .headerMainText {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1285px) {
    a[href^='tel:'] {
        text-decoration: underline;
        color: #337ab7;
    }
}

@media only screen and (min-width: 1285px) {
    a[href^='tel:'] {
        text-decoration: none;
        color: black;
    }
}
