@page
@model FlorenceVetHospitalv2.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1 class="pageHeading">About Us</h1>

    <div class="row">

           
        <div class="col-md-8">

            <div class="aboutText">
                <h2 class="centerTitle">Our New Location</h2>

                <p>
                    On September 8, 2018 we moved to our new location at 7801 US Highway 42, next to the Wildwood Inn. This new location has better
                    parking and easier access to Highway 42. We are now completely handicapped accessible!  Our new office has four exam rooms which
                    has enabled us to expand our number of Drs and staff to better serve you.
                </p>

                <p>
                    We welcome our new veterinarian, Dr. Allison Shepherd. Dr. Shepherd comes to us with eight years of Emergency Veterinary experience.
                    She is skilled in well and sick animal care. Dr. Daniel Davis and Dr. Paul Garofolo  continue to serve the clients and pets of the
                    Florence Veterinary Hospital as they have for years.
                </p>

                <p>
                    We offer the latest diagnostic tools for our patients including, digital x-ray, ultrasound and laser therapy.
                    As always we continue to offer soft tissue surgery, orthopedic surgery and dental care.  In our updated office we
                    now have the latest technology for in house screening of bloodwork and urinalysis.  This gives us quick results when treating critical patients.
                </p>

                <p>
                    Our policy of scheduling appointments leaves little to no wait time.  We have expanded our waiting area so that pets will not
                    feel the stress of crowding should a short wait be required.  The addition of cable television in our waiting room allows our clients
                    some entertainment if they wait.
                </p>

                <p>
                    With the move to our completely renovated office, we feel that our clients and pets can enjoy a clean, stress free experience.
                    Our always friendly and welcoming staff is eager to greet you and your pets.  We want to make the veterinary experience as pleasant
                    as it can be for our valued clients and their loved pets.
                </p>

                <p id="aboutContact">Contact Us by phone at 859-371-6501, or by fax at 859-37&#8203;1-8662.</p>
            </div>

            @*<div id="vetSourceText">
                <h2 class="centerTitle">Vetsource Online Pharmacy</h2>
                <p>
                    We have partnered with an online pharmacy by the name of Vetsource.  This will give us the opportunity to offer products that we normally don't carry in our office inventory.
                    It will give our clients an opportunity to purchase products that come directly from a reliable vendor.
                </p>
                <p>
                    These products can be shipped directly to the client's home with pricing that
                    beats other online pharmacies.  Not only will our clients get low online price offers, but they will also get the same rebate offers that are available through our office.
                </p>
                <p>
                    * Prescriptions will only be filled for patients who are active in our records.
                </p>

                <div class="VSbutton">
                    <a href="http://theflorencevethospital.vetsourceweb.com/site/view/site/view/HomeDelivery.pml?retUrl=http://florencevethospital.com/" target="_blank"><img src="images/VetSource.png" border="0" class="linkBanner img-responsive" alt="VetSource Home Delivery" /></a>
                </div>

            </div>


        </div>*@




        
        <div class= "bbbLogo">

            <img src="~/images/BBB100.jpg" alt="better business bureau logo" class="img-responsive" />

        </div>
    </div>

        <div class="col-md-4">


            <div class="polaroidalt">

                <img src="~/images/waitingarea400.jpg" alt="entering the lobby at reception and the waiting area" style="width:100%" class="img-responsive" />



            </div>


        </div> 


   </div>

</div>



