@page
@model FlorenceVetHospitalv2.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1 class="pageHeading">About Us</h1>

    <div class="row">

           
        <div class="col-md-7">

            <div>
                <h2 class="centerTitle">Our New Location</h2>

                <p>
                    On September 8, 2018 we moved to our new location at 7801 US Highway 42, next to the Wildwood Inn. This new location has better parking and easier access to Highway 42. Our new office has four exam
                    rooms and we have welcomed a new veterinarian, Dr. Allison Shepherd. We offer the latest diagnostic tools for our patients including, digital x-ray, ultrasound and laser therapy.
                </p>

                <p id="aboutContact">Contact Us by phone at 859-371-6501, or by fax at 859-37&#8203;1-8662.</p>
            </div>

            <div id="vetSourceText">
                <h2 class="centerTitle">VetSource Online Pharmacy</h2>
                <p>
                    We have partnered with an online pharmacy by the name of VetSsource.  This will give us the opportunity to offer products that we normally don't carry in our office inventory.
                    It will give our clients an opportunity to purchase products that come directly from a reliable vendor.
                </p>
                <p>
                    These products can be shipped directly to the client's home with pricing that
                    beats other online pharmacies.  Not only will our clients get low online price offers, but they will also get the same rebate offers that are available through our office.
                </p>
                <p>
                    * Prescriptions will only be filled for patients who are active in our records.
                </p>

                <div class="VSbutton">
                    <a href="http://theflorencevethospital.vetsourceweb.com/site/view/site/view/HomeDelivery.pml?retUrl=http://florencevethospital.com/" target="_blank"><img src="images/VetSource.png" border="0" class="linkBanner img-responsive" alt="VetSource Home Delivery" /></a>
                </div>

            </div>


        </div> @*end vetsource column*@




    <div class="col-md-5">

       
        <div class="polaroidalt">

            <img src="~/images/waitingarea400.jpg" alt="entering the lobby at reception and the waiting area" style="width:100%" class="img-responsive" />



        </div>
        

    </div> @*end first row*@

    <div class="col-xs-12 col-md-12 bbbLogo">

        <img src="~/images/BBB100.jpg" alt="better business bureau logo" class="img-responsive" />

    </div>




    

</div> @*end container*@