@page
@model FlorenceVetHospitalv2.Pages.IndexModel
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        
           
                <div class="col-md-4">

                    <img src="~/images/reception1.jpg" class="img-responsive" alt="our reception area" />

                </div>  
                    
                <div class="col-md-8">
                    <h1 class="centerTitle">Welcome To Florence Veterinary Hospital</h1>



                    <div class="welcomeText">
                        <p>
                            The Florence Veterinary Hospital is well known in the Florence area, having been established over 30 years ago.
                            It was moved to its present location in the Fall 2018.  Our former location was just a half mile away on the West side of I-75.
                            The Florence Veterinary Hospital primarily treats small animals.
                        </p>
                        <p>
                            Our hospital staff of licensed veterinary technicians, veterinary assistants and receptionists have an impressive range of skills
                            and years of experience in the animal care field.
                        </p>
                        <p>
                            Our goal is to provide pet owners with the most personal, convenient and cost effective services available.
                            We take pride in assuring that you will see the same doctor with each visit and that your pet will be treated with kindness,
                            compassion and respect.
                        </p>
                        <p>
                            We provide a clean, friendly environment where your pet will be professionally handled.
                            We encourage you to visit our hospital and meet Dr. Davis, Dr. Garofolo and our staff.
                        </p>
                        <p class="quote">
                            &#8220;I have learned from good example that it is important to provide reliable, affordable and friendly service to our clients.&#8221; - Dr. Dan Davis
                        </p>
                    </div> @*end welcomeText*@

                </div>
               
         

        
    </div> @*end row for welcome section*@

    <div class="row">
        
         <div class="col-md-4 infoItems">

            <h1 class="centerTitle">Laser Therapy Service</h1>


            <p>
                The Florence Veterinary Hospital is pleased to offer one of the latest therapies to date for relief of inflammatory and painful conditions in our pets.
                With the addition of our Companion Therapy Laser, we can perform healing therapy known as Photo Bio Modulation Therapy or Cool laser Therapy.  
            </p>


            <div class="buttonDiv text-center">

                <a href="~/LaserTherapy" class="btn btn-info btn-default btn-rounded" id="b_style" role="button">LASER THERAPY</a>

            </div>  @*end button div*@

        </div> @*end laserTherapy*@

   
    
         <div class="col-md-4 infoItems">
             <h1 class="centerTitle">New Location</h1>
             <p class="comingSoon">
                 The Florence Veterinary Hospital has moved to our new location at 7801 US Hwy 42. We are just East of Interstate 75, directly next to the Wildwood Inn.
                 The new location has better parking and easier access to the main road. We look forward to serving you at our new location! @*<a class="phoneLink" title="Google Maps" target="_blank" href="https://maps.google.com?q=7801+US42+Florence+KY+41042">See the new location on Google Maps. </a>*@
             </p>

             <div class="buttonDiv text-center">

                 <a target="_blank" href="https://goo.gl/maps/uWa5XEhrn5P2" class="btn btn-info btn-default btn-rounded" id="b_style" role="button">GOOGLE MAPS</a>
                

             </div>  @*end button div*@

         </div> @*end for New Location*@
  



        <div class="col-md-4 infoItems">
            <div class="vetSource">
                <h1 class="centerTitle">Vetsource Online Pharmacy</h1>
                <p>
                    We have partnered with an online pharmacy by the name of Vetsource.  This will give us the opportunity to offer products that we normally don't carry in our office inventory.
                    It will give our clients an opportunity to purchase products that come directly from a reliable vendor.
                </p>

                <div class="buttonDiv text-center">

                    <a href="~/PetServices" class="btn btn-info btn-default btn-rounded" id="b_style" role="button">VETSOURCE</a>


                </div>  @*end button div*@


            </div> @*end vetSource div*@
        </div> @*end div Vet Source bootstrap*@
      

     </div> @*end div for row*@





</div>  @*end bootstrap container*@
<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-md-12">

        </div>
    </div>

</div>
