@page
@model FlorenceVetHospitalv2.Pages.LaserTherapyModel
@{
    ViewData["Title"] = "LaserTherapy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="laserTherapyText">
    <h1 class="pageHeading">Laser Therapy</h1>

    <p>
        The laser therapy is used to treat inflammatory ear and skin conditions such as Otitis externa, ear hematomas, lick granulomas as well as hot spots and other
        inflammatory conditions.  Therapy has been used to treat deep body inflammation such as controlling stubborn respiratory disease, pancreatitis, gastroenteritis
        and bladder infections.
    </p>
    <p>
        One of the most important therapies is the treatment of all species of animals that suffer from arthritis and other debilitating diseases that hinder its ability to walk.
        Treatment is successful in treating IV disc disease, muscle and ligament disorders and neuromuscular diseases.  Literally, the laser can mean the difference in life
        or death for patients who have lost mobility.
    </p>
    <p>
        Another exciting use for the laser therapy is in the treatment of surgical and dental incisions.  The laser can easily be used on surgical incisions which greatly reduces
        surgical wound healing time and reduces pain.  Laser use in dentistry is useful in reducing inflamed gums and treating gums after tooth extraction for more rapid healing
        and relief of post dental pain.  Probably one of the most significant benefits for our patients is the ability to reduce or eliminate the use of expensive harsh medications,
        which improves their quality of life. This is an alternative way to ease our animals pain and suffering.
    </p>
    <p>
        To learn more about laser therapy also known as Photo Bio Modulation Therapy, please use these videos and information sheets:
    </p>

</div>

<p>
    <a class="linkStyle" href="https://florencevethospital.blob.core.windows.net/informationsheets/Newsletter%20text2.docx.pdf" target="blank"> <span class="glyphicon glyphicon-folder-open"></span>      Informative Newsletter</a>
</p>

<p>
    <a class="linkStyle" href="https://florencevethospital.blob.core.windows.net/informationsheets/Noses%20to%20Toes%20to%20Tails.pdf" target="blank"><span class="glyphicon glyphicon-folder-open"></span>     Noses to Toes to Tails</a>
</p>

<p>
    <a class="linkStyle" href="https://www.youtube.com/user/CompanionTherapy" target="blank"><span class="glyphicon glyphicon-film"></span>     Companion Therapy YouTube</a>
</p>

<p>
    <a class="linkStyle" href="https://www.youtube.com/watch?v=g1Jek7bLOM4&feature=youtu.be" target="blank"><span class="glyphicon glyphicon-film"></span>     Scientific Animation Video</a>
</p>

<p>
    <a class="linkStyle" href="https://www.youtube.com/watch?v=Sn0e28bCOJY" target="blank"><span class="glyphicon glyphicon-film"></span>     Companion Client Video</a>
</p>