@page
@model FlorenceVetHospitalv2.Pages.NewClientsModel
@{
    ViewData["Title"] = "NewClients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pageHeading">We Welcome New Clients</h1>

<a href="https://florencevethospital.blob.core.windows.net/forms/FlorenceVetHospitalNewClientForm.docx"><span class="glyphicon glyphicon-file"></span>New Client Form</a>