@page
@model FlorenceVetHospitalv2.Pages.NewClientsModel
@{
    ViewData["Title"] = "NewClients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">


    
   

    <div class="row">

        <div class="col-md-6 newClient">

            <h1 class="pageHeading">We Welcome New Clients</h1>


            @*<p>
            PLACEHOLDER: "Welcome message"

        </p>*@

            <p>
                To print out our new client form, please click on a link below, fill it out and bring the form with you to your visit.
            </p>

            <div id="formButton">
                <a href="https://florencevethospital.blob.core.windows.net/forms/FlorenceVetHospitalNewClientForm (1).pdf" class="btn-lg clientForm" target="_blank"><i class="fa fa-file-pdf-o"></i>  New Client Form (pdf document)</a>
            </div>
            
            <div id="formButton2">

                <a href="https://florencevethospital.blob.core.windows.net/forms/FlorenceVetHospitalNewClientForm.docx" class="btn-lg clientForm"><i class="fa fa-file-word-o"></i>  New Client Form (Word document)</a>
            </div>
   
        </div>





        <div class="col-md-6">

            <div class="ncImage">

                <img src="~/images/pumpkinfile350.jpg" alt="Pumpkin sitting on top of files in a file drawer" class="img-responsive img-rounded" />


            </div>

        </div>

    </div>

</div>



