@page
@model FlorenceVetHospitalv2.Pages.PetInformationModel
@{
    ViewData["Title"] = "PetInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <div class="row">


            <div class="col-md-3 PetInfoMenu">
                <ul id="petInfoLinks" class="nav nav-pills nav-stacked">


                    <li class="active infoLink"><a href="" onclick="return false;" data-container="vaccinations">Vaccinations></a></li>
                    <li class="active"><a href="" onclick="return false;" data-container="petFoods">Pet Foods></a></li>
                    <li class="active"><a href="" onclick="return false;" data-container="Allergies">Allergies></a></li>
                    <li class="active"><a href="" onclick="return false;" data-container="spayNeuter">Spay/ Neuter of Large/ Giant Breed Dogs></a></li>
                    <li class="active"><a href="" onclick="return false;" data-container="heartwormPets">Heartworms in Pets></a></li>
                    <li class="active"><a href="" onclick="return false;" data-container="heartwormCats">Heartworm Disease in Cats></a></li>

                </ul>


            </div>


            <div class=" col-md-9 toggleDiv">
                @*div that holds all of the fundraising information divs*@

                <div id="frmain">
                    @*div for the main fundraising information*@
                    <h1>Veterinary Information about Your Pets</h1>

                    <p class="emphasis">For more information, click on a topic from the menu </p>



                </div>



                <div id="vaccinations" class="petInfodiv">
                    @*div that holds the Vaccination information*@

                    <h2 class="infoSectionTitle">Vaccinations</h2>

                    <div id="vaccinationsText">

                            
                        <p class="infoSectionText">

                            Our office, in accordance with federal, state and local laws, recommends rabies vaccinations for
                            all dogs and cats. The first rabies vaccine given to a pet is effective for one year and then must
                            be boostered. Each successive rabies vaccine, assuming the pet is kept current, will be effective
                            for 3 years before boostering is required. Rabies vaccines may be boostered in animals that
                            have been attacked by unvaccinated animals at the time of attack. Core vaccinations. Core
                            vaccinations are described as those vaccines that are most effective and necessary to prevent
                            serious disease in animals. There is a concern with over vaccinating animals and the effect that
                            has on the animal’s health. It is for this reason that we only recommend Core vaccines for our
                            patients.


                        </p>

                        <p class="infoSectionText">

                            For cats, the core vaccinations include rabies, feline viral rhinopneumonitis (herpes virus),
                            chlamydia, panleukopenia, and calicivirus. These vaccines can begin at six weeks of
                            age and boostered every three weeks until the kitten reaches four months of
                            age, then annually. Other noncore vaccines would include feline leukemia (felv) vaccination for
                            all outdoor cats (does require feline leukemia testing prior to vaccinating).
                            Feline leukemia testing requires three drops of blood. Vaccines for felv need to be boostered
                            three weeks after the initial vaccine then annually.

                        </p>

                        <p class="infoSectionText">

                            For dogs Core vaccinations include Distemper, Hepatitis (Adenovirus type 2), Parvovirus and
                            Parainfluenza. Leptospirosis is considered a core vaccine but is sometimes omitted in small
                            breed puppies or dogs that have shown allergies to vaccines. Leptospirosis is a disease that is
                            seen around the USA and can be deadly so we do recommend it for all qualifying dogs.
                            Fortunately there have been great improvements in the leptospirosis vaccine and the one we
                            are currently using (Merck) we have been having great success with.
                            Core vaccines may be started at six wks of age and boostered every three weeks until the
                            puppy reaches four months of age and then annually. Other noncore vaccines
                            that we recommend for dogs at risk are Bordetella (kennel cough) for dogs that are social with
                            other dogs. These would include dogs that are groomed and dogs that go to doggie daycare,
                            boarding, training, dog shows or dog parks. Dogs can be vaccinated at 8 weeks of age then
                            boostered in three weeks then annually. (some boarding facilities may require boostering
                            vaccines in six months which we consider safe and satisfactory when required).
                            The Flu vaccine, including two variants, is also recommended for Dogs can be vaccinated at 8
                            weeks of age, two to three weeks after the initial vaccine, then annually. Lyme vaccine for dogs
                            that may be at risk of tick bites (hunting dogs or dogs that live in rural areas or dogs that hike
                            with their owners). Dogs can get this vaccine at 8 weeks of age, the vaccine is boostered 3 wks
                            after the initial vaccine then annually.

                        </p>

</div>

                </div>

                <div id="heartwormCats" class="petInfodiv">
                    @*div that holds the Heartworm Disease in Cats information*@

                    <h2 class="infoSectionTitle">Heartworm Disease in Cats</h2>

                    <div id="heartwormcats">

                       
                        <p class="infoSectionText">

                            Heartworm is much less prevalent in cats. The disease is preventable with monthly applications
                            of topical medications or monthly pills. Testing cats for heartworm is much less common than in
                            dogs. Most cats, unless showing clinical symptoms, are just started on the heartworm
                            preventions. Treatment for cats that have heartworm disease involves supportive care with
                            antiinflammatories and medications that will eventually eliminate the worm. Cats usually only
                            carry one worm which usually resides in the lung more than the heart. Symptoms in cats usually
                            involve breathing issues. Unfortunately, many times the disease shows no symptoms and can
                            lead to sudden anaphylaxis and death in cats. The best way to prevent heartworm infection in
                            cats is to use monthly flea/tick and heartworm medications that will keep them safe. Keep in
                            mind that not all flea/tick medications prevent heartworm. There are no over the counter
                            products for fleas and ticks that prevent heartworm. All products are prescription only.
                            


                        </p>

                    </div>

                </div>


                <div id="petFoods" class="petInfodiv">
                    @*div that holds the Pet Foods information*@

                    <h2 class="infoSectionTitle">Pet Foods</h2>

                    <div id="petfoods">

                   
                        <p class="infoSectionText">

                            For many people the choice on which pet foods to choose can be difficult. Compounding that
                            tough decision is the fact that in the last decade, there have been some major issues with
                            reputable foods in the United States. Regardless of your choice in foods, it is our
                            recommendation to only feed foods that are inspected and deemed safe. Look for the AAFCO
                            mark on the label of foods to ensure that the foods are safe. Diets marketed as Holistic
                            may not require inspection so we cannot guarantee the safety of these foods. Don’t assume that
                            all diets made by one producer are safe because some manufacturers may market some of
                            their brands as holistic. While 90% of their diets may be inspected, they may have some that
                            are not. AAFCO also inspects treats so look for that mark on your treat labels as well. Many
                            treats that are processed overseas have been caught up in recalls for having tainted
                            ingredients.


                        </p>

                        <p class="infoSectionText">

                            In general it is safe to assume that you get what you pay for in pet foods. Many cheaper foods
                            can contain a lot of indigestible fillers which result in more animal waste (feces) which can make
                            housebreaking puppies very difficult. Fillers can also upset digestive processes causing
                            vomiting, diarrhea and gas. There are many trusted names for over the counter pet foods. Some
                            of those include Hill’s Science Diet, Iams , Eukanuba, Purina One or Proplan, Royal Canin
                            and many others.


                        </p>

                    </div>

                </div>


                <div id="Allergies" class="petInfodiv">
                    @*div that holds the Allergies information*@

                    <h2 class="infoSectionTitle">Allergies</h2>

                    <div id="allergies">

                       <p class="infoSectionText">

                            Allergies in pets can cause terrible misery and discomfort for them. The two main types of
                            allergy in pets include inhalation and food allergy. Food allergy can start in pets when they are
                            just a few months old. It may present as itchy ears, feet or perineum (area under the tail). In cats facial
                            itching and hair loss are also signs. Feeding hypoallergenic food and treats may help to
                            eliminate food allergies. Make certain the food you choose is AAFCO approved. This approval
                            means that the food will have all the nutrients necessary for good health. Inhalation allergy is a
                            type of allergy that usually begins in patients over one year of age. It may present as itchy ears,
                            feet and perineum, as well as areas where hair is pulled out in certain areas of
                            the body. There are many choices on how to treat inhalation allergies. It is difficult to keep pets away from inhaled allergens as they are
                            airborne particles that can be inside our homes as well as outdoors. With proper treatment pets can be made more comfortable.


                        </p>

                    </div>

                </div>

                <div id="spayNeuter" class="petInfodiv">
                    @*div that holds the Spay/ Neuter in Large/Giant Breed Dogs information*@

                    <h2 class="infoSectionTitle">Spay/ Neuter of Large/Giant Breed Dogs</h2>

          
                <div id="spayneuter">

                    <p class="infoSectionText">

                        For the past few years there has been debate regarding the proper age to spay and neuter
                        dogs. Some feel that for dogs that will be larger than 40 lbs as adults it may be better to wait
                        until those dogs are closer to 1.5-2 years old to spay/neuter them. The reason for doing this
                        would be to allow their bones, tendons and ligaments to develop better. There is also thought
                        that delaying spay/neuter may prevent certain types of cancer. The down side to this theory is
                        that delaying spay/ neuter may encourage bad behaviors and aggression in some dogs. The
                        bad behaviors may include urine marking, straying to seek mates, aggression towards other
                        dogs and people and anxiety. The other negatives for delaying spay/ neuter are increased
                        chances of breast cancer, uterine infection (called pyometra), pregnancy and gastric
                        dilation and volvulus (gdv) otherwise known as bloat. For males delaying neuter could
                        make them more susceptible to prostate issues, testicular cancer and gdv. Many owners of
                        large/giant breed dogs choose to have a procedure done at spay/ neuter where the stomach
                        is tacked to prevent gdv. Gdv can occur in any age dog and usually is fatal.

                    </p>

                    <p class="infoSectionText">

                        Looking at all of these facts, our doctors have come to the conclusion that the best way to
                        protect your dog from having life threatening health issues and behavioral problems is to spay
                        /neuter at six months of age. Of course there are many differing opinions and we realize that
                        everything isn’t black and white. We will support you as the dog’s owner in making what you feel
                        is the best choice for your pet. I hope this information has been helpful.


                    </p>

                </div>

                </div>

                <div id="heartwormPets" class="petInfodiv">
                    @*div that holds the Heartworm in Pets information*@

                    <h2 class="infoSectionTitle">Heartworm in Pets</h2>

                    <div id="heartwormpets">

     
                        <p class="infoSectionText">

                            Heartworm infection has been known to occur in all 50 states in the US. Heartworms can infect
                            both dogs and, to a much lesser degree, cats. It is recommended that all dogs take heartworm
                            prevention to prevent the spread of heartworm disease. That prevention may be in the form on a
                            monthly pill or an injection that will protect for up to one year. Since any dog can be infected it is
                            important to test dogs over six months of age before beginning the heartworm prevention. It is
                            also important to test dogs that have been off of their prevention for several months before
                            starting them back on their prevention. The test involves collecting three drops of the dog’s
                            blood.


                        </p>

                        <p class="infoSectionText">

                            Heartworms are spread by the bite of a mosquito. The disease cannot be spread directly from
                            dog to dog as the larval heartworm requires the time inside the mosquito for part of its life cycle.
                            The mosquito picks up the immature heartworm by biting a dog that is infected with heartworms.
                            As stated previously, the larvae undergoes changes inside the mosquito. Once the mosquito
                            deposits the matured larvae inside the next dog it bites, the larvae goes through a couple more
                            changes before maturing in the heart and major vessels surrounding the heart. The worms can
                            grow up to 18 inches long. The extra stress placed on the heart can cause life threatening
                            issues for the dog. Should a dog contract heartworm disease. There is a safe and effective
                            treatment to get rid of those worms.
                        </p>

                        <p class="infoSectionText">

                            Heartworm in cats is much less prevalent. The disease is preventable with monthly applications
                            of topical medications or monthly pills. Testing cats for heartworm is much less common than in
                            dogs. Most cats, unless showing clinical symptoms, are just started on the heartworm
                            preventions. Treatment for cats that have heartworm disease involves supportive care with
                            antiinflammatories and medications that will eventually eliminate the worm. Cats usually only
                            carry one worm which usually resides in the lung more than the heart. Symptoms in cats usually
                            involve breathing issues. Unfortunately many times the disease shows no symptoms and can
                            lead to sudden anaphylaxis and death in cats. The best way to prevent heartworm
                            infection in cats is to use monthly flea/tick and heartworm medications that will keep them safe.
                        </p>

                    </div>

                </div>

            </div>
        </div>


    </div> @*container*@



   




