@page
@model FlorenceVetHospitalv2.Pages.PetServicesModel
@{
    ViewData["Title"] = "PetServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="pageHeading">Pet Services</h1>

<div class="container">
    
     
    
    <div class="row">

        <div class="col-md-5">
            <!--div for Services-->
            <h2 class="sectionTitle">Our Services</h2>
            <ul class="services">
                <li>Convenient Housecalls</li>
                <li>Wellness Exams Including Vaccines</li>
                <li>Puppy/Kitten Litter Discounts</li>
                <li>Microchipping</li>
                <li>Pain Therapy with Therapeutic Laser</li>
                <li>Ultrasound</li>
                <li>Digital X-ray</li>
                <li>In-Hospital Bloodwork</li>
                <li>Sick Patient Exams</li>
                <li>Allergy Treatments</li>
                <li>Skin Condition Evaluations</li>
                <li>Mange Treatment</li>
                <li>Anal Gland Treatment</li>
                <li>Ear/Eye Treatment</li>
                <li>Endocrine Conditions</li>
                <li>Diabetes Treatment</li>
                <li>Cardiac/Kidney/Liver Workup</li>
                <li>Dentistry</li>
                <li>Routine Spay/Neuter</li>
                <li>Non Routine Soft Tissue Surgery</li>
                <li>Orthopedic Surgery/ Fracture Repair</li>
                <li>Eye Surgery</li>
                <li>Ear Surgery</li>
                <li>Medicated Baths</li>
                <li>Humane Euthanasia</li>
                <li>Cremation Services</li>
            </ul>
        </div>

        <div class="col-md-7">

            

            <div class="polaroid">

                <img src="~/images/DrSMobileVan.jpg" alt="Dr. Shepherd and Connie with the Mobile Veterinary Van" style="width:100%" class="img-responsive" />

                <div class="polaroidText">
                    <p>Dr. Shepherd and Connie</p>
                </div>

            </div>


        </div>


    </div>
</div>