@page
@model FlorenceVetHospitalv2.Pages.PreviewModel
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">


        <div class="row">

            <div class="col-md-6">

                <div class="infoItems">

                    <img src="~/images/DrDan2.jpg" class="img-responsive center-block" />

                    <div>
                        <h4><b>Daniel J. Davis, DVM</b></h4>
                        <p>
                            Dr. Daniel J. Davis is a 1994 graduate of Auburn University College of Veterinary Medicine. Upon graduation, Dr. Davis practiced at the Grants Lick Veterinary Hospital and its
                            branch office in Pendleton County.
                        </p>
                    </div>

                </div>

            </div>


            <div class="col-md-6">

                <div id="shepherdCard" class="infoItems">

                    <p class="iconSize"><i class="fa fa-user fa-2x"></i></p>

                    <div class="vetDescription">
                        <h4><b>Allison Shepherd, DVM</b></h4>
                        <p>
                            Dr. Allison Shepherd is a graduate of Tuskegee Veterinary College. Dr. Shepherd comes to us with many years of veterinary emergency experience. She married her high school
                            sweetheart, Brice, and they have two daughters.  Allison enjoys gardening and cooking. Their family enjoys spending time with their multiple dogs and cats.
                        </p>
                    </div>

                </div>

            </div>

        </div>



        <div class="row">

            <div class="col-md-6">

                <div id="wolfeCard" class="infoItems">

                    <p class="iconSize"><i class="fa fa-user fa-2x"></i></p>

                    <div class="vetDescription">
                        <h4><b>Julie Wolfe Mudman, DVM</b></h4>
                        <p>
                            Dr. Julie Mudman is a native of Burlington Kentucky and a 2008 graduate of Auburn University College of Veterinary Medicine.
                            In her spare time enjoys horseback riding with family and friends.
                        </p>
                    </div>

                </div>

            </div>


            <div class="col-md-6">

                <div id="baysCard" class="infoItems">

                    <p class="iconSize"><i class="fa fa-user fa-2x"></i></p>

                    <div class="vetDescription">
                        <h4><b>Andrea Bays, DVM</b></h4>
                        <p>
                            Dr. Bays is a 2010 graduate of Auburn University College of Veterinary Medicine.  Over the course of her career, Dr. Bays
                            has focused primarily on small animal medicine and surgery but also manages the veterinary care of horses, sheep, and cattle
                            on her family's farm.  When not at work, she enjoys spending time outdoors with her husband and three young daughters.
                        </p>
                    </div>

                </div>

            </div>

        </div>


    </div>
