@page
@model FlorenceVetHospitalv2.Pages.StaffModel
@{
    ViewData["Title"] = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">


    <div class="row">




        <div class="col-md-7">

            <h1 class="pageHeading">Meet Our Staff</h1>

            <div class="staffListing">
                <h3 class="staffHeading">Julie</h3>

                <p>
                    Julie is a licensed registered Veterinary Technician. She has worked in the veterinary field for over 30 years.
                    Julie enjoys showing her miniature horses and Hackney pony at local fairs.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Angie</h3>

                <p>
                    Angie has been working in the veterinary field for over 20 years. She has experience
                    in all aspects of the veterinary field. Angie enjoys camping, hiking and spending time with her family and pets.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Amberly</h3>

                <p>
                    Amberly started working at our hospital just out of high school. In her time working here she completed her teaching degree and now fills in on weekends and summers.
                    She is a full time middle school teacher.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Katelyn</h3>

                <p>
                    Katelyn has been working in the animal care field for over five years. She enjoys her time with her own pets and is very kind and compassionate with patients at the hospital.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Connie</h3>

                <p>
                    Connie began working at the Florence Veterinary Hospital in Fall, 2015.  Connie has over 15 years experience working in the veterinary field.
                    She enjoys farm animals as well as small animals.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Tiffany</h3>

                <p>
                    Tiffany has been working at the Florence Veterinary Hospital since Spring, 2016.  She worked in the doggie daycare and boarding business prior to beginning her career at FVH.
                    She has many of her own pets and enjoys spending time with them.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Penny</h3>

                <p>
                    Penny joined the Florence team in March 2017 after retiring from the IRS. She enjoys traveling, especially to the Western part of the US.
                    She has plenty of good advice on sites to visit in the US National Parks.
                </p>
            </div>

            @*<div class="staffListing">
                <h3 class="staffHeading">Stephanie</h3>

                <p>
                    Stephanie, her husband and family enjoy travel.  They also enjoy spending time with their family pets.
                    Stephanie has fostered dogs for rescue associations and enjoys seeing her fosters and their adoptive
                    families when they come into the office for their examinations.
                </p>
            </div>*@

            <div class="staffListing">
                <h3 class="staffHeading">Elody</h3>

                <p>
                    Elody is a Pre-Veterinary student.  She is very active in her church and loves
                    spending time with her family pets.  After completing her pre-vet studies, she hopes to attend Auburn University Veterinary School.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Madee</h3>

                <p>
                    Madee is a Pre-Veterinary student.  She hopes to attend Auburn University after completing her undergraduate studies.
                    She is a true animal lover and hopefully has a great future in Veterinary Medicine.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Leanne</h3>

                <p>
                    Leanne comes from a farm background where she and her family have llamas, sheep and cattle.
                    Leanne enjoys spending time with her family and pets.  She joined our staff in the fall 2018.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Katie</h3>

                <p>
                    Katie is a primary school teacher.  She has worked in the veterinary field as a receptionist
                    and assistant since she was in high school.  She has dogs and cats of her own and enjoys telling stories to her students about her pets and other pets she sees in the office.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Tabitha</h3>

                <p>
                    Tabitha has many years of experience working in the Veterinary field.  Along with her dogs, Tabitha has an interest in exotic animals, reptiles in particular.
                    She also enjoys rides on her motorcycle.
                </p>
            </div>

            <div class="staffListing">
                <h3 class="staffHeading">Meggie</h3>

                <p>
                    Meggie is a licensed, certified veterinary technician.  She completed her schooling at The University of Cincinnati.
                    Meggie worked in emergency medicine at the CARE Center before coming to join our staff.
                </p>
            </div>

        </div>


        <div class="col-md-5 staffPhoto">

            <div>

                <img src="~/images/workarea.jpg" alt="View of the clinic Work area" class="img-responsive polaroidalt" style="width:100%"/>

              

            </div>

        </div>


    </div>







    </div>