@page
@model FlorenceVetHospitalv2.Pages.VetSourceModel
@{
    ViewData["Title"] = "Our Vets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container">

        <h1 class="pageHeading">Meet Our Doctors</h1>



        <!--div for image of Dr. Davis-->
        <div class="row">
            <div class="col-md-4 vetImage">
                <img src="~/images/DrDan2.jpg" class="image-responsive" alt="Dr. Davis with Pumpkin, the clinic mascot, an orange tabby cat" />
            </div>


            <div class="col-md-5">
                <div class="DJDInfo">
                    <h3 class="nameTitle">Daniel J. Davis, DVM </h3>
                    <p class="vetInfo">
                        Dr. Daniel J. Davis is a 1994 graduate of Auburn University College of Veterinary Medicine. Upon graduation, Dr. Davis practiced at the Grants Lick
                        Veterinary Hospital and its branch office in Pendleton County.
                    </p>
                    <p class="photoCap">
                        Pictured: Dr. Davis with "Pumpkin", our clinic mascot
                    </p>
                </div>
            </div>

        </div> @*ending div for the dr. davis row*@




        <div class="row">
            <div class="col-md-4 vetImage">
                @*<img src="#" class="image-responsive" alt="Dr. Shepherd" />*@

            </div>

            <div class="col-md-5">
                <div class="PAGInfo">
                    <h3 class="nameTitle">Allison Shepherd, DVM</h3>
                    <p class="vetInfo">
                        Dr. Allison Shepherd is a graduate of Tuskegee Veterinary College. Dr. Shepherd comes to us with many years of veterinary emergency experience. She married her high school
                        sweetheart, Brice, and they have two daughters.  Allison enjoys gardening and cooking. Their family enjoys spending time with their multiple dogs and cats.
                    </p>


                </div>
            </div>
        </div>

        <div class="row drJulie">
            <div class="col-md-4 vetImage">
                @*<img src="#" class="image-responsive" alt="Dr. Julie Mudman" />*@

            </div>

            <div class="col-md-5">
                <div class="PAGInfo">
                    <h3 class="nameTitle">Julie Wolfe Mudman, DVM</h3>
                    <p class="vetInfo">
                        Dr. Julie Mudman is a native of Burlington Kentucky and a 2008 graduate of Auburn University College of Veterinary Medicine.
                        In her spare time enjoys horseback riding with family and friends.
                    </p>


                </div>
            </div>
        </div>




        <div class="row drBays">
            <div class="col-md-4 vetImage">
                @*<img src="#" class="image-responsive" alt="Dr. Bays" />*@

            </div>

            <div class="col-md-5">
                <div class="PAGInfo">
                    <h3 class="nameTitle">Andrea Bays, DVM</h3>
                    <p class="vetInfo">
                        Dr. Bays is a 2010 graduate of Auburn University College of Veterinary Medicine.  Over the course of her career, Dr. Bays
                        has focused primarily on small animal medicine and surgery but also manages the veterinary care of horses, sheep, and cattle
                        on her family's farm.  When not at work, she enjoys spending time outdoors with her husband and three young daughters.
                    </p>


                </div>
            </div>
        </div>






    </div>   @*ending div for the container class*@